.root {
  justify-content: center;
  width: 100%;
}

.contents {
  width: 100%;
  position: absolute;
  top: 80px;
  /* min-width: 1440px; */
}

@media (max-width: 750px) {
  .root {
    margin-top: 68px;
  }

  .contents {
    width: 100%;
    min-width: unset;
    top: 64px;
  }
}
