.root {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 16px;
  font-size: 64px;
  text-align: center;
}

.heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.modalArea {
  width: 720px;
  border: 2px solid gray;
  border-radius: 15px;
  height: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: rgba(200, 200, 200, 0.5);
}

.modalText {
  font-size: 28px;
  text-align: center;
}


.modalBtn {
  display: block;
  height: 48px;
  width: 240px;
  border-radius: 8px;
  margin: 0 auto;
}

.modalBtn:hover {
  cursor: pointer;
}

.formArea {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 720px;
}

.area {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.input {
  height: 32px;
}

.textArea {
  height: 96px;
}

.submitBtn {
  width: 240px;
  height: 48px;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 32px;
}

.submitBtn:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .title {
    font-size: 48px;
  }

  .heading {
    font-size: 24px;
  }

  .modalArea {
    width: calc(100% - 48px);
  }

  .formArea {
    width: 100%;
  }

  .area {
    width: calc(100% - 32px);
    margin-left: 16px;
  }

  .submitBtn {
    width: calc(100% - 48px);
    margin-left: 24px;
  }
}