.root {
  width: calc(100% - 32px);
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 16px;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 55px;
  width: 264px;
  text-align: center;
}

.logo:hover {
  cursor: pointer;
  color: rgba(255, 225, 255, 0.9);
  background-color: rgba(255, 225, 255, 0.2);
  transition: 0.5s;
}

.right {
  display: flex;
}

.link {
  text-decoration: none;
  color: white;
  display: block;
  height: 80px;
  font-size: 20px;
  line-height: 80px;
  width: 96px;
  text-align: center;
}

.link:hover {
  cursor: pointer;
  color: rgba(255, 225, 255, 0.9);
  background-color: rgba(255, 225, 255, 0.2);
  transition: 0.5s;
}
