.root {
  text-align: center;
  width: 160px;
  height: 176px;
}

.image {
  width: 160px;
  height: 160px;
  margin-bottom: 8px;
}

.name {
  font-size: 20px;
}

@media (max-width: 750px) {
  .root {
    width: auto;
    height: auto;
  }

  .image {
    margin: 0 auto;
  }

  .name {
    font-size: 28px;
  }
}
