.root {
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  line-height: 36px;
  height: 36px;
}

.title span {
  font-size: 16px;
  line-height: 36px;
}

.skills {
  margin-bottom: 56px;
}

.icons {
  display: flex;
}

.icons1 {
  width: 880px;
  justify-content: space-between;
  margin: 0 auto;
}

.flame {
  margin-bottom: 56px;
}

.icons2 {
  width: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.container {
  display: flex;
  gap: 40px;
  margin-bottom: 56px;
}

.left {
  width: 25%;
}

.icon {
  margin-left: 24px;
}

.right {
  width: 75%;
}

.icons3 {
  width: 632px;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .root {
    width: 100%;
  }

  .icons {
    flex-direction: column;
    gap: 24px;
  }

  .icons1 {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .icons2 {
    width: 100%;
  }

  .icons3 {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .icon {
    margin-left: 0;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
}
