.root {
  width: 100%;
  height: calc(100vh - 320px);
  justify-content: center;
  text-align: center;
  color: white;
  background-image: url(../../../assets/backImage.jpg);
  background-size: cover;
  padding-top: 240px;
}

.title {
  font-size: 100px;
}

.text {
  font-size: 32px;
}

.sp {
  display: none;
}

@media (max-width: 750px) {
  .root {
    height: calc(100vh - 304px);
  }

 .title {
  font-size: 48px;
  line-height: 88px;
  margin-bottom: 80px;
 }

 .text {
  font-size: 28px;
 }

 .sp {
  display: inline;
 }

 .spMenu {
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  top: 64px;
  background: white;
  z-index: 10;
 }
 }




